.lmj-banner {
    height: 200px;
    text-align: center;
    border-bottom: 2px solid lightgray;
    position: relative;
    display: flex;
    align-items: center;
}

.lmj-logo {
    height: 8rem;
    margin: 2.3rem;
}