.connexion-search {
display: flex;
padding: 3rem;
}

.connexion-feed {
    font-size: 2rem;
    margin-left: 2rem;
}

.connexion-feed:hover {
    color: #fd2d01;
    cursor: pointer;
}


.connexion-banner {
    display: flex;
    width: 15rem;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4rem 0;
    align-items: center;
}

.connexion-img {
    background: darkgrey;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.connexion-user {
    color: #fff;
    font-size: 3.5rem;
}

.connexion-disconnect {
    font-weight: bold;
    font-family: 'Yaldevi', sans-serif;
    cursor: pointer;
}