.lmj-banner {
    height: 200px;
    text-align: center;
    border-bottom: 2px solid darkgray;
}

.lmj-logo {
    height: 8rem;
    margin: 2.3rem;
}

.signup-invalid {
    width: 18rem;
    margin-top: 0;
    color: #fd2d01;
}